@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #c9d1d9;
  background: #0d1117;
  font-weight: 500;
}

._ibg {
  position: relative;
}

._ibg img {
  //position: absolute;
  width: 100%;
  //height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}

._container {
  display: flex;
  flex: 1 1 auto;
  max-width: 1046px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: content-box;
}

.title {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  padding: 10px;
}
.subtitle {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  padding: 5px;
}
.button {
  min-height: 30px;
  min-width: 150px;
  max-width: 220px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #238636;
  line-height: 140%;
  margin: 10px;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
}
.button:hover {
  background: #2dab45;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex: 1 1 1046px;
  margin: 90px 0 0 0;
}
.searchBlock {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 260px;
  margin: 0 0 20px 0;
  z-index: 2;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 5px;
}
.searchBlockMin {
  @extend .searchBlock;
  flex: 0 0 25%;
}
.usersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: center;
}
.user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 78px;
  min-height: 110px;
  //margin: 8px;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #161b22;
      .userLogin {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
  }
}
.user:hover {
  background: #1d242d;
}
.selected {
  border: 1px solid #30363d;
  border-radius: 5px;
  background: #1d242d;
  font-weight: 500;
}
.avatarMin {
  padding: 5px;
  img {
    max-width: 70px;
    border-radius: 5px;
  }
}
.userProfile {
  display: flex;
  flex-direction: column;
  flex: 0 0 75%;
  justify-content: start;
  min-width: 523px;
  padding: 0 0 0 20px;
  //padding: 0 270px;
  //position: fixed;
  //z-index: 0;
}
.closeUserProfile {
  position: relative;
  right: 0;
  margin: 10px;
  max-height: 20px;
}
.closeUserProfile:hover {
  transform: scale(105%);
  cursor: pointer;
}
.profileContent {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 5px;
  //position: fixed;
  min-width: 480px;
  .button {
    margin: 10px auto;
    padding: 5px;
    max-width: 200px;
    max-height: 40px;
  }
  .avatar {
    display: block;
    margin: 10px;
    img {
      min-width: 200px;
      max-width: 200px;
      border-radius: 5px;
    }
  }
}
.profileLogin {
  font-size: 30px;
  line-height: 142%;
  font-weight: 700;

}
.profileInfo {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  a {
    text-decoration: none;
    color: #c9d1d9;
  }
  span {
    margin: 2px 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
}
.profileInfoItem {
  margin: 2px 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.profileInfoItem:hover {
  transform: scale(105%);
  cursor: pointer;
}
.additional {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 250px;
  margin: 20px 0;
  z-index: 2;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 5px;
}
.additionalContent {

}
.repositoriesBlock {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;

}
.repository {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  flex: 1 1 50%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: #1d242d;
  border: 1px solid #30363d;
}
.repositoryTitle {
  font-size: 18px;
  line-height: 140%;
  font-weight: 600;
  color: #c9d1d9;
}
.repositorySubtitle {
  font-weight: 600;
  padding: 5px 0 0 0;
}
.loadMoreBtn {
  @extend .button;
  cursor: pointer;
  max-width: 150px;
  margin: 10px auto;
}