a {
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: #0d1117;
  color: #c9d1d9;
  position: fixed;
  z-Index: 50;
  width: 100%;
  .logo {
    display: flex;
    flex-direction: row;
    min-height: 64px;
    align-items: center;
    a {
      flex: 0 0 64px;
      border-radius: 50%;
      background: #eaeaea;

      img {
        transform: translate(-3%, 5%);
      }
    }
  }
  .title {
    flex: 1 1 33.33%;
    min-width: 250px;
    max-width: 349px;
    font-size: 20px;
    line-height: 142%;
    font-weight: 700;
    padding: 0 10px;
    color: #c9d1d9;
  }
  .searchForm {
    display: flex;
    flex: 0 1 66.66%;
    //padding: 0 20px;
    max-width: 697px;
    input {
      //width: 80%;
      flex: 1 0 80%;
      min-height: 38px;
      background: #0d1117;
      color: #c9d1d9;
      padding: 0 20px;
      border: 1px solid #30363d;
      border-right: 0;
      box-sizing: border-box;
      border-radius: 5px 0 0 5px;
      font-size: 20px;
    }
    input:focus {
      outline: 0;
      //border: 2px solid #0550ae;
      //box-shadow: 1px 1px 2px 0 #0550ae;
    }
    button {
      //width: 20%;
      flex: 1 1 20%;
      background: #238636;
      //border: 1px solid #E6E6E6;
      border-radius: 0px 5px 5px 0px;
      display: flex;
      min-height: 38px;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      color: #fff;
      padding: 0 22px;
      transition: all 0.2s ease;
    }
    button:hover {
      background: #2dab45;
    }
  }
}
